a_color = #2f3239
white_gray = #dedede
bootstrap_blue = #337ab7
a
  -webkit-transition color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear
  -moz-transition color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear
  -o-transition color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear
  transition color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear

a:hover
  color bootstrap_blue !important
  text-decoration none

body
  background-color #f3f3f3

.container
  .row
    .col-md-9
      overflow hidden
      height 100%
      .single-question
        h2
          margin-left 20px
          font-size 22px
          a
            color a_color

.single-question
  padding 20px 0
  margin-top 20px
  background-color white
  footer
    margin-left 5px

.question
  -webkit-box-sizing border-box
  box-sizing border-box
  border 1px solid white_gray
  -webkit-box-shadow 0 0 5px white_gray
  -moz-box-shadow 0 0 5px white_gray
  box-shadow 0 0 5px white_gray
  position: relative
  margin-bottom 10px

.question-desc
  margin-bottom 20px
  padding-bottom 30px
  border-bottom 1px solid white_gray
  margin-left 20px
  margin-right 20px

.question-category
.question-date
.question-comment
.single-question-vote
  font-size 13px
  a
    color a_color

.votes
  ul
    li
      list-style none
      display inline-block

a.single-question-vote-up:hover
  color #5cb85c !important

a.single-question-vote-down:hover
  color #d9534f !important

.share-tags
  position relative
  margin-bottom 30px
  overflow initial

.page-content
.about-author
  height 100%
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 20px
  border 1px solid white_gray
  background white
  -webkit-box-shadow 0 0 5px white_gray
  -moz-box-shadow 0 0 5px white_gray
  box-shadow 0 0 5px white_gray
  font-size 12px
  margin-bottom 30px

.question-tags
  color a_color !important
  a
    text-decoration none
    color a_color
  i
    margin-right 5px

p.well
  margin-top 20px

div.btn
  a
    text-decoration none
    color white

.media-heading
  margin-top 25px
  z-index 100

.comment-info
  margin-left 6px
  margin-top 21px
  z-index 100

.media-body
  p
    position relative
    padding 15px
    margin-top 50px

#respond
  textarea
    display block
    width 100%
    -webkit-box-sizing border-box
    box-sizing border-box

.sidebar
  margin-top 20px

.widget
  margin-bottom 30px
  color a_color
  padding 20px
  border 1px solid white_gray
  background-color white
  -webkit-box-shadow 0 0 5px white_gray
  -moz-box-shadow 0 0 5px white_gray
  box-shadow 0 0 5px white_gray
  a
    color #555

  h3.widget_title
    margin -20px 0 20px
    font-size 16px
    font-weight bold
    padding 20px 0 10px
    border-bottom 2px solid white_gray
    position relative
  ul
    margin 0
    padding 0
    list-style none
    li:last-child
      margin-bottom 0

  .ul_list
    margin-bottom 0
    ul
      margin-bottom 0

.widget.widget_stats
  li
    color a_color
    font-size 14px
    font-weight bold
    background-color #eaeaeb
    margin-bottom 10px
    padding 10px !important

.widget.widget_social
  overflow hidden
  height 100%

  li
    line-height 15px
    float left
    width 100%
    height 75px
    padding 0
    -webkit-transition .4s linear
    -moz-transition .4s linear
    transition .4s linear
    margin-bottom 10px
    a
      display block
      strong
        display inline-block
        width 100%
        height 75px
        line-height 24px
        font-size 14px
        color white
        margin-bottom 10px
        -webkit-transition all 0.4s ease-in-out
        -moz-transition all 0.4s ease-in-out
        -ms-transition all 0.4s ease-in-out
        -o-transition all 0.4s ease-in-out
        transition all 0.4s ease-in-out
        -webkit-border-radius 0
        -moz-border-radius 0
        border-radius 0
        position relative

      small
        font-size 14px
        font-weight bold
        padding-left 10px
    i
      float right
      font-size 37.5px
      line-height 75px
      margin 0 10px
      width 45px
      text-align center
    span
      padding 13.5px 0 0 10px
      display inline-block

    &.rss-subscribers
      a
        strong
          background-color #faa33d
    &.facebook-fans
      a
        strong
          background-color #5d82d1
    &.twitter-followers
      a
        strong
          background-color #40bff5
    &.youtube-subs
      a
        strong
          background-color #c4302b

.widget_tag_cloud
  a
    color white !important
    display inline-block
    border 1px solid #e2e2e2
    line-height 20px
    margin 0 0 5px 0 !important
    padding 2px 10px
    font-size 12px !important
    background-color #2f3239

.widget:last-child
  margin-bottom 0

.related-posts
  padding 0 !important
  border none
  -webkit-box-shadow none
  -moz-box-shadow none
  -o-box-shadow none
  box-shadow none
  li
    margin-bottom 10px
  .related-item
    h3
      padding-top 2px
      font-size 14px !important
      margin-bottom 0
      font-weight bold
    p
      margin 5px 0
      font-size 13px
      color #848991
      font-weight normal
      line-height 22px
    span
      font-size 12px
      color #c5c4c4