.main-content
  margin-top 70px

.question
  border 1px solid #dedede
  background-color #f3f3f3
.author-picture
  margin-top 23px

.content
  margin-bottom 20px

.actions
  margin-top 45px
  font-size 1.5em
  .downvote
    color #F7977A
  .favorite
    color #C7D086
  .upvote
    color #82CA9D