{% extends 'base.html' %}
{% block title %}Questions{% endblock %}
{% block body %}
    <a href="{% url 'question-create' %}">Make a question</a>
    {% if questions %}
        {% for item in questions %}
            <article>
                <h3>{{ item.title }}</h3>
                <small>{{ item.author.username }}</small>
                <small>{{ item.created_at }}</small>
                <p>{{ item.content }}</p>
                <ul>
                    {% for tag in item.tags.all %}
                        <li><a href="#">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </article>
            <a href="{% url 'question-edit' item.pk %}">Edit</a>
            <a href="{% url 'question-delete' item.pk %}">Delete</a>
        {% endfor %}
    {% else %}
        <h1>No hay preguntas</h1>
    {% endif %}
{% endblock %}