{% extends 'base.html' %}
{% block title %}Related to {{ tag_name }}{% endblock %}
{% block body %}
    {% if questions %}
        {% for item in questions %}
            <article>
                <h3>{{ item.title }}</h3>
                <small>{{ item.author.username }}</small>
                <small>{{ item.created_at }}</small>
                <p>{{ item.content }}</p>
                <ul>
                    {% for tag in item.tags.all %}
                        <li><a href="{% url 'related-to' tag.pk %}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </article>
            <a href="{% url 'question-edit' item.pk %}">Edit</a>
            <a href="{% url 'question-delete' item.pk %}">Delete</a>
        {% endfor %}
    {% else %}
        <h1>No hay preguntas relacionadas con {{ tag_name }}</h1>
    {% endif %}
{% endblock %}