borderRadius(amount)
  -webkit-border-radius amount
  -moz-border-radius amount
  -ms-border-radius amount
  -o-border-radius amount
  border-radius amount

.navbar
.btn
.modal-content
.form-control
  borderRadius(0) !important

.navbar
  margin-bottom 0 !important

.carousel-inner
  .item
    img
      max-width 0 !important
      height auto !important

.avatar
  width 200px
  height 200px