.navbar,
.btn,
.modal-content,
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
!important
}
!important
.navbar {
  margin-bottom: 0 !important;
}
.carousel-inner .item img {
  max-width: 0 !important;
  height: auto !important;
}
.avatar {
  width: 200px;
  height: 200px;
}
.social-buttons {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .fb,
  .gplus,
  .tw,
  .github {
    padding-left: 0;
    padding-right: 0;
  }
  .gplus,
  .tw,
  .github {
    padding-top: 4px;
  }
  .github {
    padding-bottom: 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fb,
  .gplus,
  .tw,
  .github {
    padding-left: 0;
    padding-right: 0;
  }
  .gplus,
  .tw,
  .github {
    padding-top: 4px;
  }
  .github {
    padding-bottom: 4px;
  }
}
@media screen and (min-width: 992px) {
  .fb,
  .gplus {
    padding-left: 0;
  }
  .tw,
  .github {
    padding-right: 0;
  }
  .gplus,
  .github {
    padding-top: 4px;
  }
}
.social-buttons {
  padding-bottom: 15px;
}
