borderRadius(amount)
  -webkit-border-radius amount
  -moz-border-radius amount
  -ms-border-radius amount
  -o-border-radius amount
  border-radius amount

.navbar
.btn
.modal-content
  borderRadius(0)

.navbar
  margin-bottom 0 !important

